<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wamz.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Wamz.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wamz.AppSettings>
            <setting name="ShowCloseTip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WatchDirectory" serializeAs="String">
                <value />
            </setting>
        </Wamz.AppSettings>
        <Wamz.Settings1>
            <setting name="ShowCloseTip" serializeAs="String">
                <value>True</value>
            </setting>
        </Wamz.Settings1>
    </userSettings>
</configuration>